.mainWrapper {
    background: url('./img/background.png') no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: 'font1-tw';
    src: url('./fonts/bamboo-twhk.otf');
}

@font-face {
    font-family: 'Digiface';
    src: url('./fonts/font2.ttf');
}
